*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --text-color-semitransparent: #312a4e80;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
  margin-block: 0;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--text-color);
}

.page {
  margin: 0;
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, Arial, Helvetica, sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: var(--bg-color, #f3efec);
  min-inline-size: 360px;
}

.header {
  padding-block-start: 10%;
}

.header__title {
  padding-block-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.content-section {
  padding-inline: 5vi;
}

.heading {
  font-family: var(--accent-font, Georgia, 'Times New Roman', Times, serif);
  font-family: 'STIX Two Text';
  font-weight: 600;
  line-height: 0.9; /* 27px */
  text-align: center;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block: 1px solid var(--text-color);
  padding-block: 20px;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.header__theme-button {
  border: 0;
  padding: 0;
  color: var(--text-color);
  font-family: inherit;
  font-size: inherit;
  line-height: 1.04; /* 18.72px */
  background-color: transparent;
  cursor: pointer;
}

.header__theme-button:disabled {
  pointer-events: none;
}

.header__theme-button:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color-semitransparent);
}

.header__theme-button_is-active {
  position: relative;
  font-weight: 700;
}

.header__theme-button_is-active:hover {
  text-decoration: none;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  inset: 0 0 0.18em -0.15em;
  z-index: -1;
  inline-size: 110%;
  block-size: 0.33em;
  margin-block-start: auto;
  background-color: var(--accent-color);
}

.content__title {
  margin-block: 7% 2.5%;
  font-size: 30px;
}

.content__text-block {
  font-size: 18px;
}

.content__figure {
  position: relative;
  inline-size: calc(100% + 10vi);
  margin-block: 7%;
  inset-inline-start: -5vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  border-block-end: 1px solid var(--text-color);
  padding-block: 20px;
  color: currentColor;
  font-family: inherit;
  text-align: center;
}

.content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  margin-inline-end: 1px;
  padding: 0 4px;
  font-weight: 700;
  font-size: 30px;
  background-color: var(--accent-color);
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__paragraph-link {
  color: inherit;
  text-underline-offset: 2px;
}

.content__paragraph-link:hover {
  text-decoration-color: var(--text-color-semitransparent);
}

.content__blockquote {
  inline-size: 75%;
  margin: 0 auto 1.5em;
  font-style: italic;
  line-height: 2; /* 36px */
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 7%;
  border: 1px solid var(--text-color);
  padding: 10px;
  aspect-ratio: 4 / 3;
}

.content__card-title {
  font-size: 60px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: '';
  position: absolute;
  inset: 0 0 0.13em -0.05em;
  z-index: -1;
  inline-size: 104%;
  block-size: 0.25em;
  margin-block-start: auto;
  background-color: var(--accent-color);
}

.content__card-subtitle {
  font-size: inherit;
}

.content__list {
  padding-inline-start: 40px;
  list-style-type: none;
}

.content__list-item {
  position: relative;
}

.content__list-item::before {
  content: '';
  position: absolute;
  inline-size: 15px;
  block-size: 15px;
  margin-inline-start: -25px;
  margin-block-start: 3px;
  background-image: url('../images/marker-light.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 10%;
  border-block-start: 1px solid var(--text-color);
  padding: 2.5%;
}

.footer__copyright {
  color: var(--text-color);
  font-family: inherit;
  font-size: 18px;
  text-transform: uppercase;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --text-color-semitransparent: #b3b3b380;
  --accent-color: transparent;
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark
  .content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  border: 1px solid var(--text-color);
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .content__list-item::before {
  background-image: url('../images/marker-dark.svg');
}
